@font-face {
    font-family: bebas;
    src: url('./fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: press-start;
    src: url('./fonts/PressStart2P-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding: 80px;
}

header {
    width: auto;
    background-color: #111111;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: #6D00C3 solid 1px;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin-left: 20px;
}

nav p a {
    font-family: press-start;
    font-size: 20px;
    color: #6D00C3;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: bebas;
    font-size: 24px;
}

a {
    text-decoration: none;
    position: relative;
}

.navbar-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 1px;
    background-color: #6D00C3; 
    transform: scaleX(0); 
    transform-origin: bottom left;
    transition: transform 0.3s ease; 
}

.navbar-item:hover::after {
    transform: scaleX(1); 
}

.navbar-item:hover {
    color: #6D00C3; 
}

.logo-nome::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 1px;
    background-color: white; 
    transform: scaleX(0); 
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.logo-nome:hover::after {
    transform: scaleX(1); 
}

.logo-nome:hover {
    color: #6D00C3;
}

@media screen and (max-width:600px) {
    nav p a {
        font-size: 12px;
    }
    nav ul {
        flex-wrap: wrap;
    }
    nav ul li a {
        font-size: 14px;
    }
}

#hero {
    min-height: 970px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./img/fotoPedroBike.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.hero-components {
    max-width: 680px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icons-hero-container {
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    animation: move-up-move-down .5s alternate infinite; 
}

.hero-heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-hero {
    font-family: press-start;
    font-size: 48px;
    color: white;  
    margin-top: 221px;
    text-align: center;
}

.title-hero span {
    color: #6D00C3;
}

.teste {
    width: 679px;
}

.line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: white;
    font-family: press-start;
    font-size: 0.7em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 40px;
  }

  .subtitle-hero {
    animation: blinkCursor 500ms steps(40) infinite normal,
      typing 4s steps(40) 1s normal both;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 34em;
    }
  }

  @keyframes blinkCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }

@keyframes decreasing-bt {
    from {width: 450px;
    height: 100px;}
    to {width: 400px;
        height: 80px;}
}

#meet {
    width: 400px;
    height: 80px;
    background-color: #6D00C3;
    color: white;
    font-family: press-start;
    border-radius: 10px;
    margin-top: 58px;
    transition: .4s;
    font-size: 24px;
    animation-name: decreasing-bt;
    animation-duration: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#meet:hover {
    color: #6D00C3;
    background-color: white;
    width: 420px;
    font-size: 26px;
}

.icons-hero-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-top: 50px;
    animation: move-up-move-down .5s alternate infinite; 
}

@keyframes move-up-move-down {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 30px;
    }
}

@keyframes rotate-left {
    from {rotate: 0deg;
    opacity: 0;}
    to {rotate: -45deg;
    opacity: 1;}
}

@keyframes rotate-right {
    from {rotate: 0deg;
    opacity: 0;}
    to {rotate: 45deg;
    opacity: 1;}
}

.icons-hero1 .fa-code, .icons-hero2 .fa-gamepad {
    animation-name: rotate-left;
    animation-duration: 1s;
    rotate: -45deg;
}

.icons-hero1 .fa-gamepad, .icons-hero2 .fa-code {
    animation-name: rotate-right;
    animation-duration: 1s;
    rotate: 45deg;
}

.icons-hero1, .icons-hero2{
    display: flex;
    justify-content: space-between;
}

.icons-hero2 {
    margin-top: 50px;
}

.icons-hero2 .fa-gamepad {
    margin-left: -80px;
}

.icons-hero2 .fa-code {
    margin-right: -80px;
}

.purple-icon {
    color: #6D00C3;
}

.white-icon {
    color: white;
}

#sobre {
    max-width: 100%;
    min-height: 660px;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    min-width: 1220px;
    min-height: 500px;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 19px 17px 4px 0px rgba(0, 0, 0, 0.25); 
    display: grid;
    grid-template-columns: repeat(2, auto);

}

.about-me-container img {
    max-width: 266px;
    min-height: 473px;
    border: 2px solid #2A2A2A; 
    object-fit: cover;
    margin-left: 47px;
    margin-top: 13px;
    border-radius: 10px;
}

.text-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-container h1 {
    font-size: 36px;
    font-family: press-start;
    margin-top: 13px;
    color: #6D00C3;
}

.about-me-container p {
    margin-top: 45px;
    font-size: 20px;
    font-family: bebas;
    max-width: 798px;
    color: white;
}

#banner-curiosidades {
    max-width: 100%;
    min-height: 80px;
    background-image: url('./img/curiosidades.png');
    background-repeat: repeat-x;
}

.container-cards-curiosidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#curiosidades {
    max-width: 100%;
    background-color: #181818;
}

.card-curiosidade {
    background-color: #111111;
    box-shadow: 19px 17px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #6D00C3; 
    width: 500px;
    height: 700px;
    border-radius: 10px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    transition: .5s;
    margin-bottom: 50px;
}

.card-curiosidade:hover {
    width: 520px;
    height: 720px;
    border: 2px solid #a22cfd;
    color: #6D00C3;
}

.card-curiosidade:hover img {
    filter: brightness(100%);
}

.card-curiosidade img {
    object-fit: cover;
    filter: brightness(50%);
    transition: .5s;
}

.card-curiosidade p {
    font-size: 20px;
    font-family: press-start;
    text-align: center;
}

#banner-educacao {
    max-width: 100%;
    min-height: 80px;
    background-image: url('./img/educacao.png');
    background-repeat: repeat-x;
}

#educacao {
    max-width: 100%;
    background-color: #111111;
}

.container-linha-educacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
    width: 143px;
    height: 875px;
    justify-content: space-around;
}

.linha {
    width: 10px;
    height: 700px;
    background-color: white;
    position: absolute;
}

.escola {
    display: flex;
    flex-wrap: nowrap;
}

.escola p {
    font-size: 20px;
    color: white;
    margin-left: 150px;
    width: 1000px;
    font-family: press-start;
    transition: .5s;
    margin-top: 10px;
}

.anchor-linha-purple {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6D00C3;
    cursor: pointer;
    transition: .5s;
}

.anchor-linha-purple:hover p{
    font-size: 25px;
    color: #6D00C3;
}


.anchor-linha-purple:hover{
    width: 60px;
    height: 60px;
    background-color: #a22cfd;
}

#banner-causos {
    max-width: 100%;
    min-height: 80px;
    background-image: url('./img/causos.png');
    background-repeat: repeat-x;
}

#causos {
    max-width: 100%;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-causos {
    max-width: 1200px;
    border-radius: 10px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    box-shadow: 19px 17px 4px 0px rgba(0, 0, 0, 0.25); 
    transition: .5s;
}

.card-causos:hover {
    transform: scale(1.05);
    background-color: #2A2A2A;
}

.card-causos:hover .container-texto-causos {
    font-size: 24px;
}

.container-texto-causos {
    width: 80%;
    font-family: bebas;
    font-size: 22px;
    color: white;
    font-weight: 100;
    margin: 50px 0px;
    transition: .5s;
}

#banner-habilidades {
    max-width: 100%;
    min-height: 80px;
    background-image: url('./img/habilidades.png');
    background-repeat: repeat-x;
}

#habilidades {
    background-color: #111111;
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
}

.container-habilidades {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-habilidades {
    background-color: #1f1f1f;
    width: 180px;
    height: 180px;
    border-bottom: #6D00C3 solid 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
    box-shadow: 12px 12px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-habilidades p{
    color: #6D00C3;
    font-family: bebas;
    font-size: 35px;
    transition: .5s;
}

.box-habilidades i{
    color: #6D00C3;
    font-size: 40px;
    transition: .5s;
}

.box-habilidades:hover {
    transform: scale(1.1);
    background-color: #2A2A2A;
    border-bottom: #a22cfd solid 4px;
}

.box-habilidades:hover p {
    color: #a22cfd;
}

.box-habilidades:hover i {
    color: #a22cfd;
}

footer {
    width: 100%;
    min-height: 500px;
    background-color: #0a0a0a;
}

footer a {
    text-decoration: none;
}

.container-footer {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 80px;
}

.contact-circle {
    background-color: #1f1f1f;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.contact-circle:hover {
    transform: scale(1.1);
}

.contact-circle:hover .fa-envelope{
    color: red;
}

.contact-circle:hover .fa-instagram {
    color: #e95950;
}

.contact-circle:hover .fa-github {
    color: white;
}

.contact i{
    color: #6D00C3;
    font-size: 40px;
    transition: .5s;
}

.contact h1 {
    font-family: press-start;
    margin-top: 20px;
    font-size: 15px;
    color: white;
}

.contact p {
    font-family: press-start;
    margin-top: 20px;
    font-size: 10px;
    color: white;
}

@media screen and (max-width:1520px) {
    .about-me-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 50px;
        min-height: 750px;
        margin: 50px 0px;
    }
    .text-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me-container p {
        font-size: 20px;
        font-family: bebas;
        max-width: 600px;
        text-align: center;
    }
}

@media screen and (max-width:1220px) {
    .title-hero {
        margin-top: 120px;
        font-size: 36px;
    }

    .hero-components {
        min-width: 200px;
    }

    .meet-me-bt {
        width: 320px;
        height: 60px;
    }

    .line {
        display: none;
    }

    .icons-hero2 .fa-gamepad {
        margin-left: -20px;
    }
    
    .icons-hero2 .fa-code {
        margin-right: -20px;
    }

    .about-me-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 0%;
        min-height: 750px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .text-about {
        min-height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .about-me-container h1 {
        margin-top: 20px;
        font-size: 36px;
        font-family: press-start;
    }
    
    .about-me-container p {
        margin-top: 20px;
        font-size: 16px;
        font-family: bebas;
        max-width: 300px;
        text-align: center;
    }

    .about-me-container img {
        margin-left: 0px;
    }

    .card-curiosidade {
        width: 300px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .card-curiosidade:hover {
        width: 320px;
        height: 520px;
        border: 2px solid #a22cfd;
        color: #6D00C3;
    }


    .card-curiosidade img {
        width: 80%;
        height: 50%;
        object-fit: cover;
    }
    
    .card-curiosidade p {
        font-size: 14px;
        font-family: press-start;
        text-align: center;
        color: white;
    }

    .container-linha-educacao {
        margin-left: 0px;
    }

    .escola p {
        font-size: 12px;
        margin-left: 80px;
        width: 250px;
        margin-top: 20px;
    }

    
    .anchor-linha-purple:hover p{
        font-size: 14px;
        color: #6D00C3;
    }

    .container-texto-causos {
        min-width: 320px;
        font-size: 16px;
        transition: .5s;
    }

    .card-causos:hover {
        transform: scale(1.02);
        background-color: #2A2A2A;
    }

    .card-causos:hover .container-texto-causos {
        font-size: 18px;
    }

    .container-habilidades {
        flex-direction: column;
    }

    .box-habilidades {
        margin: 40px 0px;
    }


    .contact {
        margin-right: 10px;
    }

    .contact-circle {
        width: 50px;
        height: 50px;
    }

    .contact i {
        font-size: 25px;
    }

    .contact h1 {
        font-size: 10px
    }

    .contact p {
        font-size: 7px;
    }

}

@media screen and (max-width:510px){
    #meet {
        max-width: 350px;
        height: 80px;
    }

    .about-me-container h1 {
        margin-top: 20px;
        font-size: 36px;
        text-align: center;
        font-family: press-start;
    }

    #banner-curiosidades {
        max-width: 100%;
        min-height: 80px;
        background-image: url('./img/curiosidades.png');
        background-repeat: space;
    }

    #banner-educacao {
        background-color: black;
        max-width: 100%;
        min-height: 80px;
        background-image: url('./img/educacao.png');
        background-repeat: space;
    }

    #banner-causos {
        max-width: 100%;
        min-height: 80px;
        background-image: url('./img/causos.png');
        background-repeat: space;
    }

    .escola p {
        font-size: 10px;
        margin-left: 80px;
        width: 250px;
        margin-top: 20px;
    }

    
    .anchor-linha-purple:hover p{
        font-size: 12px;
        color: #6D00C3;
    }

    #banner-habilidades {
        background-color: black;
        max-width: 100%;
        min-height: 80px;
        background-image: url('./img/habilidades.png');
        background-repeat: space;
    }
}